*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
margin: 0;
}

header{
    background-color: rgb(97, 97, 97);
}

nav{
    background-color: #ccc;
}


a:hover{
    color: blue;
}

