*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header{
    background-color: rgb(97, 97, 97);
    padding: 20px;
}


nav{
    background-color: #ff0000;
    margin-top: 35px;

}



